/* about.css */

/* Style for the about section */
.about {
    padding: 50px;
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/782/988/desktop-wallpaper-beautiful-of-american-places-and-of-world-pretty-places-thumbnail.jpg');
    background-size: cover;
    background-position: center;
    color: #fff; /* text color */
    text-align: center;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.1rem;
    line-height: 1.6;
}
